.mobileNavBlock {
  width: 100%;
  background-color: #dfe1d7;
  height: 53px;
  z-index: 3;
}
.mobileNavBlock__NavList {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  z-index: 3;
}
.mobileNavBlock__NavList a {
  display: block;
  padding: 15px 25px;
}
.mobileNavBlock__NavList li a:hover {
  background-color: white;

}
@media screen and (min-width: 640px) {

}
@media screen and (min-width: 1024px) {
  .mobileNavBlock {
    height: 80px;
  }
  .mobileNavBlock__NavList a {
   font-size: 1.25rem;
  }
  .mobileNavBlock__NavList a {
    padding: 25px 40px;
  }
}
