.listFont {
  font-size: clamp(1rem, 3vw, 1.25rem);
}
.paraFont {
  font-size: clamp(1rem, 3vw, 1.25rem);
  margin: 0;
}
.h3Font {
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-top: 0;
}
.journeyParaWrapper {
  background-color: white;
  display: flex;
  justify-content: center;
}
.journeyPara {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  background-color: white;
  color: #817e7e;
  text-align: center;
  padding-top: 25px;
  flex-basis: 95%;
  padding-bottom: 25px;
}
.helpSection {
  background-color: #484e3c;
  color: white;
  display: flex;
  padding-top: 20px;
}
.helpSection__textWrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.helpSection h2 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  flex-basis: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}
.helpSection__textWrapper ul {
  list-style: none;
}
.helpSection__textWrapper li,
.contentList li {
  font-size: clamp(1rem, 3vw, 1.25rem);
}
.helpSection__textWrapper ul li::before {
  content: '•';
  margin-right: 15px;
}
.helpSection__buttonBlock {
  display: flex;
  align-items: center;
  min-height: 150px;
}
.helpSection__buttonBlock button {
  border: 1px solid white;
  color: white;
  align-self: center;
  height: clamp(30px, 5vw, 50px);
  width: clamp(100px, 15vw, 180px);
}
.helpSection__buttonBlock__para {
  font-size: clamp(1.5rem, 4vw, 2rem);
}
.IndTherapySection {
  margin-top: 10px;
  width: 100%;
}
.heroWrapper {
  width: 100%;
  height: clamp(240px, 30vw, 450px);
  margin-bottom: 40px;
  position: relative;
}
.heroWrapper img {
  object-fit: cover;
  width: 100%;
  height: inherit;
}
.heroHeader {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 25%;
  width: 100%;
  height: 50%;
  color: white;
  flex-wrap: wrap;
  text-align: center;
}
.heroHeader__mainHeading {
  flex-basis: 20%;
  width: clamp(100px, 40%, 200px);
  font-size: clamp(2.2rem, 7vw, 3.5rem);
  line-height: 1;
  margin: 0;
  text-shadow: 2px 2px 4px rgb(90, 90, 90);
}
.heroHeader__subHeading {
  flex-basis: 100%;
  font-size: clamp(1rem, 2vw, 2rem);
  text-shadow: 2px 2px 4px rgb(90, 90, 90);
}
.heroHeader {
  line-height: 1.2;
}
.heroHeader p {
  font-size: clamp(1rem, 4vw, 1.5rem);
}
.heroHeader h2 {
  font-size: clamp(1.25rem, 8vw, 2.5rem);
}
.IndTherapyContent__para {
  padding: 12px;
}
.IndTherapyContent__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 30px;
}
.IndTherapyContent__list li {
  position: relative;
}
.IndTherapyContent__list li::before {
  position: absolute;
  top: -4px;
  left: -15px;
  content: '•';
  font-size: 20px;
}
.IndTherapyContent__para {
  padding-left: 40px;
  padding-right: 40px;
}
.IndTherapyContent__header {
  padding-left: 40px;
}
.IndTherapyContent__header h3,
.familySection h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}
.IndTherapyContent__header p,
.IndTherapyContent__para,
.IndTherapyContent__list {
  font-size: clamp(1rem, 4vw, 1.25rem);
}
.teenContent {
  padding-left: 40px;
  padding-right: 40px;
}
.teenContent h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}
.teenContent p {
  font-size: clamp(1rem, 3vw, 1.25rem);
  margin-bottom: 20px;
}
.contentList {
  list-style: none;
}
.contentList li {
  font-size: clamp(1rem, 3vw, 1.25rem);
}
.contentList li::before {
  content: '•';
  position: absolute;
  top: -2px;
  left: -15px;
  font-size: 20px;
}
.familySection .heroWrapper {
  margin-top: 30px;
}
.familySection p {
  font-size: clamp(1rem, 3vw, 1.25rem);
}

.familySection__content__list {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.familySection__content__list li {
  position: relative;
  width: 70%;
}
.familySection__content__list li::before {
  position: absolute;
  top: -3px;
  left: -15px;
  content: '•';
  font-size: 20px;
}
.familyContent__flexWrapper {
  display: flex;
  flex-wrap: wrap;
}
.familyContent__flex2 {
  background-color: #c3c9c0;
  color: white;
  text-shadow: 2px 2px 4px rgb(139, 137, 137);
  flex-basis: 100%;
}
.familyContent__flex2 button {
  border: none;
  border: 1px solid white;
  color: white;
}
.familyContent__flex1 h3,
.familyContent__flex1 p {
  padding-left: 40px;
  padding-right: 40px;
}
.couplesSection .heroWrapper {
  margin-top: 10px;
}
.couplesSection__content__flexWrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.couplesSection__content__flex1 h3,
.couplesSection__content__flex1 p,
.groupSection h3,
.groupSection p, .supervisionSection h3 {
  padding-left: 40px;
  padding-right: 40px;
}
.couplesSection__content__flex2 {
  background-color: #676a60;
}

.couplesSection__content__flex2 li {
  color: white;
  position: relative;
}
.couplesSection__content__flex1 {
  margin-bottom: 20px;
}
.supervisionSection h3 {
  margin-bottom: 20px;
}
.supervisionSection ul {
  margin: 0;
}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 639px) {
  .helpSection {
    justify-content: center;
    flex-wrap: wrap;
  }
  .helpSection__textWrapper {
    border-bottom: 1px solid rgb(116, 113, 113);
    width: 80%;
    flex-basis: 80%;
    padding-bottom: 20px;
  }
  .helpSection__buttonBlock {
    justify-content: space-between;
    padding: 10px 10px;
    flex-basis: 80%;
  }
  .helpSection__buttonBlock__para {
    font-size: 1.5rem;
    text-align: right;
    width: 60%;
  }
  .helpSection__buttonBlock button {
    font-size: 1rem;
    height: 30px;
    width: 100px;
    align-self: center;
  }
  .IndTherapyContent__list {
    width: 80%;
    left: 10%;
    justify-content: center;
  }
  .IndTherapyContent__list li {
    width: 90%;
  }
  .teenSection__mainHeading {
    flex-basis: 67%;
  }
  .teenContent__list {
    position: relative;
    left: 15%;
    width: 70%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
  }
  .teenContent__list li {
    position: relative;
    justify-self: center;
  }
  .familyContent__flex2 {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .familyContent__flex2 p {
    line-height: 1.2;
    font-size: 1.5rem;
    flex-basis: 30%;
  }
  .familyContent__flex2 button {
    height: 30px;
    width: 100px;
  }
  .couplesSection__content__flexWrapper {
    justify-content: center;
  }
  .couplesSection__content__flex2 {
    flex-basis: 100%;
  }
}
/* tablet */
@media screen and (min-width: 640px) and (max-width: 1023px) {
  .helpSection {
    justify-content: center;
    flex-wrap: wrap;
  }
  .helpSection__textWrapper {
    border-bottom: 1px solid rgb(116, 113, 113);
    flex-basis: 80%;
    padding-bottom: 20px;
  }
  .helpSection__textWrapper ul {
    text-align: left;
  }
  .helpSection__buttonBlock {
    justify-content: space-between;
    flex-basis: 80%;
  }
  .helpSection__buttonBlock__para {
    flex-basis: 60%;
    font-size: 2rem;
    text-align: right;
  }
  .helpSection__buttonBlock button {
    font-size: 1.25rem;
    align-self: center;
  }
  .IndTherapyContent__list {
    width: 70%;
    left: 10%;
    justify-content: center;
  }
  .IndTherapyContent__list li {
    flex-basis: 100%;
    width: 100%;
    left: calc(35% - 100px);
  }
  .teenSection__mainHeading {
    letter-spacing: 0.05rem;
    flex-basis: calc(43% + 30px);
    max-width: 428px;
  }
  .teenContent__list {
    position: relative;
    left: 25%;
    width: 60%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
  }
  .teenContent__list li {
    position: relative;
    justify-self: center;
  }
  .familyContent__flex2 {
    height: clamp(200px, 30vw, 280px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .familyContent__flex2 p {
    line-height: 1.2;
    font-size: 2rem;
    flex-basis: 30%;
  }
  .familyContent__flex2 button {
    font-size: 1.25rem;
    height: 50px;
    width: 180px;
  }
  .couplesSection__content__flexWrapper {
    justify-content: center;
  }
  .couplesSection__content__flex2 {
    flex-basis: 100%;
  }
}
/* desktop */
@media screen and (min-width: 1024px) {
  .helpSection {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
  }
  .verticalRule {
    position: absolute;
    left: clamp(450px, 45vw, 900px);
    top: 50%;
    transform: rotate(90deg);
    width: clamp(300px, 30%, 380px);
    height: 0.5px;
    background-color: #fff;
  }
  .helpSection__textWrapper li {
    text-align: left;
  }
  .helpSection__buttonBlock {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .helpSection__buttonBlock button {
    font-size: 1.5rem;
  }
  .helpSection__buttonBlock__para {
    width: 60%;
    line-height: 1;
    padding-bottom: 20px;
  }
  .IndTherapyContent__list {
    width: 70%;
    left: 10%;
    justify-content: center;
  }
  .IndTherapyContent__list li {
    flex-basis: 100%;
    width: 100%;
    left: calc(35% - 40px);
  }
  .IndTherapyContent__para {
    padding: 0 40px;
  }
  .teenSection__mainHeading {
    letter-spacing: 0.05rem;
    flex-basis: calc(43% + 30px);
    max-width: 428px;
    margin-bottom: -50px;
  }
  .teenContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .teenContent h3 {
    flex-basis: 100%;
    justify-self: flex-start;
  }
  .teenContent__list {
    flex-basis: 40%;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
  }
  .teenContent__list li {
    position: relative;
    justify-self: center;
  }
  .familySection .heroWrapper {
    margin-bottom: 10px;
  }
  .familyContent__flexWrapper {
    flex-wrap: nowrap;
  }
  .familyContent__flex2 {
    order: 1;
    flex-basis: 30%;
  }
  .familyContent__flex1 {
    order: 2;
    flex-basis: 70%;
  }
  .familyContent__flex2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .familyContent__flex2 p {
    line-height: 1.2;
    font-size: 1.5rem;
    text-align: center;
    width: 45%;
    flex-basis: 12%;
  }
  .familyContent__flex2 button {
    height: 50px;
    width: 180px;
  }
  .couplesSection .heroWrapper {
    margin-bottom: 5px;
  }
  .couplesSection__content__flexWrapper {
    flex-wrap: nowrap;
  }
  .couplesSection__content__flex1 {
    padding-top: 30px;
    padding-left: 30px;
    order: 2;
    flex-basis: 50%;
  }
  .couplesSection__content__flex2 {
    order: 1;
    flex-basis: 50%;
  }
  .couplesSection__content__flex2 li {
    width: 80%;
  }
}
