.journeyParaWrapper {
  background-color: white;
  display: flex;
  justify-content: center;
}
.journeyPara {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  background-color: white;
  color: #817e7e;
  text-align: center;
  padding-top: 25px;
  flex-basis: 95%;
  padding-bottom: 25px;
}
.helpSection {
  background-color: #484e3c;
  color: white;
  display: flex;
  padding-top: 20px;
}
.helpSection__textWrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.helpSection h2 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  flex-basis: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}
.helpSection__textWrapper ul {
  list-style: none;
}
.helpSection__textWrapper li {
  font-size: clamp(1rem, 3vw, 1.25rem);
}
.helpSection__textWrapper ul li::before {
  content: '•';
  margin-right: 15px;
}
.helpSection__buttonBlock {
  display: flex;
  align-items: center;
  min-height: 150px;
}
.helpSection__buttonBlock button {
  border: 1px solid white;
  color: white;
  align-self: center;
  height: clamp(30px, 5vw, 50px);
  width: clamp(100px, 15vw, 180px);
}
.helpSection__buttonBlock__para {
  font-size: clamp(1.5rem, 4vw, 2rem);
}
.IndTherapySection {
  margin-top: 10px;
  width: 100%;
}
.heroWrapper {
  width: 100%;
  height: clamp(240px, 30vw, 450px);
  margin-bottom: 40px;
  position: relative;
}
.heroWrapper img {
  object-fit: cover;
  width: 100%;
  height: inherit;
}
.IndTherapySection__header {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 25%;
  width: 100%;
  height: 50%;
  color: white;
  flex-wrap: wrap;
  text-align: center;
}
.IndTherapySection__heroWrapper__mainHeading {
  flex-basis: 20%;
  width: clamp(100px, 40%, 200px);
  font-size: clamp(2.2rem, 6vw, 3.5rem);
  line-height: 1;
  margin: 0;
  text-shadow: 2px 2px 4px rgb(90, 90, 90);
}
.IndTherapySection__header__subHeading {
  flex-basis: 100%;
  font-size: clamp(1rem, 2vw, 2rem);
  text-shadow: 2px 2px 4px rgb(90, 90, 90);
}
.IndTherapyContent__header {
  line-height: 1.2;
}
.IndTherapyContent__header p {
  font-size: clamp(1rem, 4vw, 1.5rem);
}
.IndTherapyContent__header h2 {
  font-size: clamp(1.25rem, 8vw, 2.5rem);
}
.IndTherapyContent__para {
  padding: 12px;
}
.IndTherapyContent__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  margin-top: 10px;
}
.IndTherapyContent__list li {
  position: relative;
}
.IndTherapyContent__list li::before {
  position: absolute;
  top: -4px;
  left: -15px;
  content: '•';
  font-size: 20px;
}
/* mobile */
@media screen and (min-width: 320px) and (max-width: 639px) {
  .helpSection {
    justify-content: center;
    flex-wrap: wrap;
  }
  .helpSection__textWrapper {
    border-bottom: 1px solid rgb(116, 113, 113);
    width: 80%;
    flex-basis: 80%;
    padding-bottom: 20px;
  }
  .helpSection__buttonBlock {
    justify-content: space-between;
    padding: 10px 10px;
    flex-basis: 80%;
  }
  .helpSection__buttonBlock__para {
    font-size: 1.5rem;
    text-align: right;
    width: 60%;
  }
  .helpSection__buttonBlock button {
    font-size: 1rem;
    height: 30px;
    width: 100px;
    align-self: center;
  }
  .IndTherapyContent__list {
    width: 80%;
    left: 10%;
    justify-content: center;
  }
  .IndTherapyContent__list li {
    width: 90%;
  }
}
/* tablet */
@media screen and (min-width: 640px) and (max-width: 1023px) {
  .helpSection {
    justify-content: center;
    flex-wrap: wrap;
  }
  .helpSection__textWrapper {
    border-bottom: 1px solid rgb(116, 113, 113);
    flex-basis: 80%;
    padding-bottom: 20px;
  }
  .helpSection__buttonBlock {
    justify-content: space-between;
    flex-basis: 80%;
  }
  .helpSection__buttonBlock__para {
    flex-basis: 60%;
    font-size: 2rem;
    text-align: right;
  }
  .helpSection__buttonBlock button {
    font-size: 1.25rem;
    align-self: center;
  }
  .IndTherapyContent__list {
    width: 80%;
    left: 10%;
    justify-content: center;
  }
  .IndTherapyContent__list li {
    flex-basis: 100%;
    width: 100%;
    left: calc(35% - 100px);
  }
}
/* desktop */
@media screen and (min-width: 1024px) {
  .helpSection {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
  }
  .verticalRule {
    position: absolute;
    left: clamp(450px, 45vw, 900px);
    top: 50%;
    transform: rotate(90deg);
    width: clamp(300px, 30%, 380px);
    height: 0.5px;
    background-color: #fff;
  }
  .helpSection__textWrapper li {
    text-align: left;
  }
  .helpSection__buttonBlock {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .helpSection__buttonBlock button {
    font-size: 1.5rem;
  }
  .helpSection__buttonBlock__para {
    width: 60%;
    line-height: 1;
    padding-bottom: 20px;
  }
  .IndTherapyContent__list {
    width: 80%;
    left: 10%;
    justify-content: center;
  }
  .IndTherapyContent__list li {
    flex-basis: 100%;
    width: 100%;
    left: calc(35% - 40px);
  }
}
